<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">MobileSpectrum</h1>
        <p class="lead">Check here your country mobile network spectrum allocation</p>
        <hr class="my-4">
        <p class="lead">
            <a target="_blank" rel="noopener" title="Contribute in Gitlab" class="btn btn-primary btn-lg" href="https://gitlab.com/mobilespectrum/MobileSpectrum" role="button">Contribute</a>
          </p>
    </div>
</div>
<div class="container body-container">
    <h2> Countries </h2>
    <ul>
        <li><a routerLink="brazil">Brazil</a></li>
        <li><a routerLink="estonia">Estonia</a></li>
        <li><a routerLink="finland">Finland</a>
            <ul>
                <li><a routerLink="finland/åland">Åland</a></li>
            </ul>
        </li>
        <li><a routerLink="germany">Germany</a></li>
        <li><a routerLink="italy">Italy</a></li>
        <li><a routerLink="netherlands">Netherlands</a></li>
        <li> <a routerLink="romania">Romania</a></li>
        <li><a routerLink="ukraine">Ukraine</a></li>
        <li><a routerLink="united_kingdom">United Kingdom</a></li>
    </ul>
</div>
